name: End to end tests

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Git fetch everything
        run: git fetch --prune --unshallow

      - name: Get Github tag
        id: meta
        run: |
          echo "::set-output name=tag::$(echo ${{github.ref_name}} | sed -e 's/^v//')"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            GITHUB_USER=${{ secrets.GH_USER }}
            GITHUB_TOKEN=${{ secrets.GH_ACCESS_TOKEN }}
          platforms: linux/amd64
          tags: sagaxyz/ssc:e2e

  test:
    needs: docker
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test:
          [
            test-e2e-basic-ibc-transfer,
            test-e2e-pfm-ibc-transfer,
            test-e2e-chainlet-launch,
          ]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Pull Docker image
        run: docker pull sagaxyz/ssc:e2e

      - name: Run test
        run: make ${{ matrix.test }}
